
<br />
<form class="container-fluid pt-3 pb-3" style="background-color: #e8e1e1; border-radius: 10px;" method="POST" action="/bin/contact-us" enctype="multipart/form-data">
  <div class="text-center mt-3">
    <h2>Let's Talk about new ideas</h2>
  </div>
  <div class="form-group mt-3"> 
    <input type="text" class="form-control"   aria-describedby="emailHelp" name="user-name" placeholder="Enter name">
   </div>
   
   <div class="form-group mt-3"> 
    <input type="email" class="form-control"   aria-describedby="emailHelp" name="user-email" placeholder="Enter email">
   </div>

  <div class="form-group mt-3">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1"  name="user-message" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
<br />