<br /><br /><br />
 <section id="about" class="about">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>${properties.subHeading}</h3>
            <h2>${properties.title}</h2>
            <p>${properties.description}</p>
            <a href="#" class="read-more"><span>${properties.btnText}</span> </a>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  <h3>${properties.cardOneTitle}</h3>
                  <p>${properties.cardOneDescription}</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">

                  <h3>${properties.cardTwoTitle}</h3>
                   <p>${properties.cardTwoDescription}</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box">

                  <h3>${properties.cardThreeTitle}</h3>
                 <p>${properties.cardThreeDescription}</p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                <div class="icon-box">

                  <h3>${properties.cardFourTitle}</h3>
                <p>${properties.cardFourDescription}</p>
                </div>
              </div> <!-- End Icon Box -->

            </div>
          </div>

        </div>
      </div>

    </section><!-- End About Section -->
