 <!-- Call-to-action Section - Home Page -->
    <section id="call-to-action" class="call-to-action">

      <img src="${properties.bgImage}" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>${properties.title}</h3>
              <p>${properties.description}</p>
              <a class="cta-btn" href="${properties.btnlink}">${properties.btnText}</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Call-to-action Section -->